.signup .overlap {
  background: var(--third-green, #135d66);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 30vw;
  left: 0;
  position: absolute;
  top: 0;
  overflow-x: hidden;
}
.signup .errortext {
  color: red;
  font-size: 20px;
}
@font-face {
  font-family: "Sofia-Regular";
  src: url("../fonts/Sofia-Regular.ttf") format("truetype");
}

.signup .welcome {
  color: #135d66;

  font-size: 6vw;
  font-weight: 400;
  left: 51%;
  transform: translateX(-63%);
  line-height: 30%;
  position: absolute;
  top: 10%;
  white-space: nowrap;
  text-align: start;
}

.signup .postwelcome {
  font-size: 2vw;
  font-weight: 400;
  left: 56%;
  transform: translateX(-50%);
  line-height: 30%;
  position: absolute;
  top: 20%;
  white-space: nowrap;
  text-align: start;
}

.signup .signup-info {
  height: 40vh;
  width: 40vw;
  left: 35%;
  position: absolute;
  top: 33%;
}

.signup #username,
.signup #email,
.signup #password {
  width: 90%;
  height: 7vh;
  padding: 1vh 2vw;
  margin: 1vh 0;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}

.signupbutton {
  border-radius: 10px;
  background: var(--black, #262626);
  color: #fff;
  width: 12vw;
  height: 9vh;
  font-size: 2vw;
  margin: 1vh 0;
  position: fixed;
  left: 47%;
}
.logindiv {
  position: absolute;
  bottom: 4%;
  left: 44%;
  transform: translateX(-50%);
}
::placeholder {
  color: #26262699;
  font-family: "Sofia Sans-Regular", Helvetica;
  font-size: 120%;
  font-weight: 400;
  text-align: start;
  padding-top: 80%;
}
.signup .error {
  color: red;
  font-size: 20px;
}

.signup input {
  font-family: "Sofia Sans-Regular", Helvetica;
  font-size: 20px;
  color: #262626;
}
.signup .login {
  font-size: 1.5vw;
  font-weight: 400;
  left: 43%;
  transform: translateX(-50%);
  line-height: 30%;
  position: absolute;
  bottom: 20%;
  white-space: nowrap;
  text-align: start;
  border: 0;
  background-color: transparent;
}

.signup .different-color {
  font-size: 1.5vw;
  color: #135d66;
  font-weight: bold;
  left: 115%;
  transform: translateX(-50%);
  line-height: 30%;
  position: absolute;
  bottom: 20%;
  white-space: nowrap;
  text-align: start;
  border: 0;
  background-color: transparent;
}
@font-face {
  font-family: "Sofia-Regular";
  src: url("../fonts/Sofia-Regular.ttf") format("truetype");
}

@media screen and (max-width: 768px) {
  .signup .overlap {
    width: 100vw;
  }
  .signup .overlap .image {
    max-width: 100%;
    height: auto;
    left: 48%;
  }
  .overlap .logo {
    left: 15%;
    font-size: 4vw;
  }

  .signup .welcome {
    font-size: 8vw;
    left: 60%;
    color: #fff;
    transform: translateX(-63%);
    text-align: center;
  }

  .signup .postwelcome {
    font-size: 3vw;
    left: 67%;
    top: 25%;
    color: white;
    font-weight: bold;
    transform: translateX(-50%);
    text-align: center;
  }

  .signup .signup-info {
    height: auto;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .logindiv {
    color: #fff;
    position: absolute;
    bottom: 8%;
    left: 40%;
    transform: translateX(-50%);
  }

  .signupbutton {
    font-size: 3vw;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .logindiv .login {
    font-size: 3vw;
    left: 43%;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
  }
  .logindiv .login .different-color {
    color: white;
    font-size: 3vw;
  }
  .signup .errortext {
    color: red;
    font-size: 20px;
  }
  .signup .error {
    color: #e3fef7;
    font-size: 15px;
  }
}
