.signup .overlap {
    background: var(--third-green, #135D66);
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100vh;
    width: 30vw; 
    left: 0;
    position: absolute;
    top: 0;
}

.overlap .logo {
    color: white;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-size: 3vw; 
    font-weight: 400;
    left: 5%; 
    position: absolute;
    top: 10%; 
}

@font-face {
    font-family: 'Sofia-Regular';
    src: url('../fonts/Sofia-Regular.ttf') format('truetype'),

}

.signup .welcome {
    color: #135D66;
    /* font-family: "Sofia-Regular", sans-serif; */
    font-size: 6vw;
    font-weight: 400;
    left: 51%;
    transform: translateX(-63%); 
    line-height: 30%;
    position: absolute;
    top: 10%;
    white-space: nowrap;
    text-align: start;
}

.signup .postwelcome {
    /* font-family: "Sofia-Regular", sans-serif; */
    font-size: 2vw;
    font-weight: 400;
    left: 56%;
    transform: translateX(-50%); 
    line-height: 30%;
    position: absolute;
    top: 20%;
    white-space: nowrap;
    text-align: start;
}

.signup .signup-info {
    height: 40vh; 
    width: 40vw; 
    left: 35%; 
    position: absolute;
    top: 30%; 
}

.signup #username,
.signup #email,
.signup #password {
    width: 90%; 
    height: 7vh; 
    padding: 1vh 2vw; 
    margin: 2vh 0; 
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

.signupbutton {
    border-radius: 10px;
    background: var(--black, #262626);
    color: #FFF;
    width: 12vw; 
    height: 10vh; 
    font-size: 2vw; 
    margin: 2vh 0;
    position: fixed;
    left: 47%;
}

::placeholder {
    color: #26262699;
    font-family: "Sofia Sans-Regular", Helvetica;
    font-size:120%;
    font-weight: 400;
    text-align: start;
    padding-top: 80%;
}


.signup .error {
    color: red;
    font-size: 20px;
    margin-top: 5px;
}
  
.signup input {
    font-family: "Sofia Sans-Regular", Helvetica;
    font-size: 20px; 
    color: #262626; 
}
.signup .login{

    font-size: 1.5vw;
    font-weight: 400;
    left: 43%;
    transform: translateX(-50%); 
    line-height: 30%;
    position: absolute;
    bottom: 20%;
    white-space: nowrap;
    text-align: start;
    border: 0 ;
    background-color: transparent;


}

.signup .different-color{

    font-size: 1.5vw;
    color: #135D66;
    font-weight: bold;
    left: 115%;
    transform: translateX(-50%); 
    line-height: 30%;
    position: absolute;
    bottom: 20%;
    white-space: nowrap;
    text-align: start;
    border: 0 ;
    background-color: transparent;


}
.overlap .image {
    width: 200%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    position: relative; /* Position relative to its normal position in the document flow */
    transform: translateX(-50%); /* Center the logo horizontally */
    top: 50%;
    left: 90%;
  }